---
import type { Page } from 'astro';
import type { CollectionEntry } from 'astro:content';
import Subtitle from './common/Subtitle.astro';
import ProjectCard from './ProjectCard.astro';

export interface Props {
    page: Page<CollectionEntry<'projects'>>;
}

const { page } = Astro.props;
---

<section id="experience" class="flex flex-col items-center lg:block p-10 pb-0">
    <Subtitle>Projects</Subtitle>
    <div class="flex flex-wrap justify-around py-10">
        {
            page.data.map(({ data, slug }) => (
                <ProjectCard href={`/project/${slug}/`} frontmatter={data} />
            ))
        }
    </div>
    <div class="flex gap-4">
        {
            page.url.first ? (
                <a class="underline" href={page.url.first}>
                    First
                </a>
            ) : null
        }
        {
            page.url.prev ? (
                <a class="underline" href={page.url.prev}>
                    Previous
                </a>
            ) : null
        }
        {
            page.url.next ? (
                <a class="underline" href={page.url.next}>
                    Next
                </a>
            ) : null
        }
        {
            page.url.last ? (
                <a class="underline" href={page.url.last}>
                    Last
                </a>
            ) : null
        }
    </div>
</section>
